@import "tailwindcss";

@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  80% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animate-popIn {
  animation: popIn 0.5s ease-out;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.article-container{

 td {
    padding: 0 0.5rem;
  }

  ul, ol {
    margin-top: 1rem !important;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  ul li, ol li {
    white-space: normal !important;

    p {
      margin-top: 0 !important;
    }
  }
}